.ad-container {
  margin: 6vw 0 6vw 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .ad {
    flex: 16%;
    flex-grow: 0;
    margin: 1%;
    border-radius: $border-radius;
    box-shadow: $shadow;
    height: fit-content;
    position: relative;

    .ad-top {
      .btn {
        background-color: $primary-color;
        color: $on-primary-color;
        border: none;
        border-radius: 0 0 8px 8px;
        margin-left: 16px;
        font-size: xx-large;
        font-weight: 600;
      }
    }

    .ad-header {
      padding: $padding;
      display: flex;
      flex-direction: row;
      justify-content: end;

      .ad-adsets {
        flex-grow: 1;
        .ad-adsetCount {
          font-weight: 600;
          font-size: 20px;
          color: $primary-color;
        }
      }
    }

    .ad-content {
      display: flex;
      align-items: center;
      height: 40vw;
      overflow: hidden;
      background-color: black;
      position: relative;

      .date {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $secondary-color;
        color: $on-primary-color;
        padding: $padding;
        border-radius: $border-radius;
        margin: $padding;
        opacity: 0.9;
      }

      .ad-video {
        width: 100%;
      }
  
      .ad-image {
        width: 100%;
      }
    }

    .ad-revenue {
      padding: $padding;

      .container {
        display: flex;
        flex-direction: row;
        padding: $padding;

        color: $secondary-color;

        .column {
          flex-grow: 1;
          .revenue {
            justify-content: end;
            align-items: start;
          }
        }
      }
      .revenue-btn {
        border: 1px solid black;
        border-radius: $border-radius;
        padding: $padding;
        text-align: center;
      }
    }

    .ad-title {
      padding: $padding;
    }

    .ad-advertiser {
      padding: $padding;

      .container {
        .link {
          display: flex;
          text-decoration: none;
          align-items: center;

          &:link, &:visited {
            color: $primary-color;
            cursor: pointer;
          }

          &:hover {
            text-decoration: underline;
          }

          .avatar {
            border-radius: 50%;
            width: 64px;
            height: 64px;
          }

          .description {
            padding: $padding;
          }
        }
      }
    }

    .ad-details {
      padding:$padding;
    }

    .ad-footer {
      display: flex;
      flex-direction: row;
      padding: $padding;
      background-color: $secondary-color;

      .ad-link {
        flex-grow: 1;
        display: flex;
        align-items: center;

        .link {
          text-decoration: none;
          &:link, &:visited {
            color: $primary-color;
          }
        }
      }

      .ad-actions {
        flex-grow: 1;
        justify-content: end;
        display: flex;

        .action-button {
          border: none;
          border-radius: $border-radius;
          padding: $padding;
          background-color: white;
          cursor: pointer;

          &:link, &:visited {
            text-decoration: none;
            color: black;
          }
          
          &:hover {
            box-shadow: $shadow;
          }
        }
      }
    }
  }
}