.ad-container {
  margin: 6vw 0 6vw 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .ad {
    flex: 30%;
    flex-grow: 0;
    margin: 1%;
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding: $padding;

    .ad-top {
      .btn {
        background-color: $primary-color;
        color: $on-primary-color;
        border-radius: 0 0 8px 8px;
        margin-left: 16px;
      }
    }

    .ad-video {
      width: 100%;
    }

    .ad-image {
      width: 100%;
    }

    .ad-revenue {
      padding: $padding;
      .container {
        display: flex;
        flex-direction: row;
        padding: $padding;

        color: $secondary-color;

        .column {
          flex-grow: 1;
          .revenue {
            justify-content: end;
            align-items: start;
          }
        }
      }
    }

    .ad-title {
      padding: $padding;
    }

    .ad-advertiser {
      padding: $padding;

      .container {
        .link {
          display: flex;
          text-decoration: none;
          align-items: center;

          &:link, &:visited {
            color: $primary-color;
            cursor: pointer;
          }

          &:hover {
            text-decoration: underline;
          }

          .avatar {
            border-radius: 50%;
          }

          .description {
            padding: $padding;
          }
        }
      }
    }

    .ad-footer {
      display: flex;
      flex-direction: row;
      padding: $padding;

      .ad-link {
        flex-grow: 1;
        display: flex;
        align-items: center;

        .link {
          text-decoration: none;
          &:link, &:visited {
            color: $primary-color;
          }
        }
      }

      .ad-actions {
        flex-grow: 1;
        justify-content: end;
        display: flex;

        .action-button {
          border: none;
          border-radius: $border-radius;
          padding: $padding;
          cursor: pointer;

          &:link, &:visited {
            text-decoration: none;
            color: black;
          }
          
          &:hover {
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}