.s-footer {
  padding: 2vw 6vw 2vw 6vw;
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;

    .brand {
      flex: 28%;
      padding-right: 16px;

      .logo {
        border: $border;
        width: 32px;
        height: 32px;
      }
      .tag-line {
        color: $secondary-color;
      }
    }

    .column {
      flex: 16%;

      .heading {
        color: $secondary-color;
        margin: 0;
      }

      .link {
        text-decoration: none;
        display: block;
        margin: 1vw 0 1vw 0;
        
        &:link, &:visited {
          color: black;
        }
      }
    }
  }
  .bottom {
    .divider {
      border: $border;
      margin: 2vw 0 2vw 0;
    }
    .copy-right {
      color: $secondary-color;
    }
  }
}