.dropdown {
  position: relative;

  .dropdown-content {
    position: absolute;
    z-index: 1;
    box-shadow: $shadow;
    padding: $padding;
    background-color: $on-primary-color;
    border-radius: $border-radius;
  }
}