.store-table-filters {
  display: flex;
  flex-direction: row;
  align-items: center;

  .show-input {
    border: solid 1px $secondary-color;
    padding: $padding;
    border-radius: $border-radius;
    margin: 0 8px;
  }

  .search-label {
    flex-grow: 1;
    text-align: end;
  }

  .search-input {
    border: solid 1px $secondary-color;
    padding: $padding;
    border-radius: $border-radius;
  }
}

.sales-table {
  width: 100%;
  margin: 8px 0;
  border-collapse: collapse;
  box-shadow: $shadow;

  thead {
    tr {
      th {
        border-bottom: solid 1px $secondary-color;
        font-weight: 500;
        padding: $padding;
      }
    }
  }

  tbody {
    tr {
      
      &:hover {
        background-color: $secondary-background;
        cursor: pointer;

        td.first {
          border-left: 8px solid $primary-color;
        }
      }
      
      td {
        padding: $padding;
        text-align: center;

        .bottom {
          font-size: small;
        }
      }

      td.first {
        text-align: start;
        border-left: 8px solid $on-primary-color;
      }
    }
  }
}

.sales-pagination {
  display: flex;
  flex-direction: row;
  justify-content: end;

  .btn {
    padding: 12px;
    border-radius: $border-radius;
    cursor: pointer;
    margin: 0 8px;
    background-color: $on-primary-color;
    border-color: $on-primary-color;
    border-style: none;

    &:hover {
      border: 1px solid $primary-color;
    }
  }
}