.hero-section {
  font-size: 20px;
  display: flex;
  flex-direction: row;

  .hero {

    .title {
      padding: 0;
      margin: 0;
      font-weight: 700;
      font-size: 54px;
    }

    .action {
      text-decoration: none;
      padding: 12px;
      border: $border;
      border-radius: $border-radius;
      width: 100%;
      display: block;
      text-align: center;
      transition: all 0.2s;
      
      &:link, &:visited {
        background-color: $primary-color;
        color: $on-primary-color;
      }
  
      &:hover {
        background-color: black;
      }
    }

    .social-networks {
      text-align: center;
      padding: $padding;
      margin-top: 8px;
      img {
        width: 30px;
        height: 30px;
        padding: $padding;
      }
    }
  }
}

.video-tutorial {
  margin: 2vw 8px 2vw 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .video-container {
    display: flex;
    justify-content: center;

    iframe {
      border: none;
      border-radius: $border-radius;
      margin: 2vw 0 2vw 0;
    }
  }

  .action-container {
    text-align: center;

    .action {
      text-decoration: none;
      padding: 12px;
      border: $border;
      border-radius: $border-radius;
      text-align: center;
      transition: all 0.2s;
      
      &:link, &:visited {
        background-color: $primary-color;
        color: $on-primary-color;
      }
  
      &:hover {
        background-color: black;
      }
    }
  }
}

.section {
  margin: 2vw 8px 2vw 8px;
  display: flex;
  flex-direction: column;
}

.login-section {
  display: flex;
  flex-direction: row;

  .column {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form {
      min-width: 512px;
      .input-group {
        .input {
          width: 100%;
        }

        .login-btn {
          width:100%;
          border: none;
          border-radius: $border-radius;
          cursor: pointer;
          background-color: $primary-color;
          color: $on-primary-color;
          padding: $padding;

          &:hover{
            box-shadow: $shadow;
          }
        }

        .sign-up-link {
          text-decoration: none;
          &:link,&:visited {
            color:$primary-color;
          }
        }
      }

      .social-login {
        width: 100%;
        .google-login-btn {
          width: 100%;
        }
      }
    }
  }
}