<div id="w-node-_8922055b-736f-9646-6ca8-1725833298222585-de161bc0" class="one_add_wrapper" style="position:relative;">



  <div class="add_item">
    <div style="display:block;padding:10px;background:transparent;" class="frameitem-title-box">
      <div class="frameitem-title-group">

        <div class="text-block-7 ad-captions"><span class="currentamountofadsets">37 Adsets</span> use this creative
        </div>
        <div class="favorite-wrapper flex" style="gap: 10px;">

          <div style="margin-right:6px;" class="has-popup adstat-block trending-block">
            <div class="custom-popup hidden" style="display: none;">Ad Score: Winning <br><span
                style="font-size:0.7rem;font-weight:500;"> - Ad is running for longer than 7 days </span></div>
            <div class="adscore-ping" style="background-color:#34D399;box-shadow: 0 0 4px 0.2px #34D399;"></div>
            <div class="adscore-ping" style="background-color:#34D399;box-shadow: 0 0 4px 0.2px #34D399;"></div>
            <div class="adscore-ping" style="background-color:#34D399;box-shadow: 0 0 4px 0.2px #34D399;"></div>
          </div>
          <div id="tooltip172583329822258580532"
            class="dropdown-container has-shadow rounded mt-1 text-size-small hidden" data-popper-placement="bottom"
            style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(326px, 948px);">
            <div class="">
              <p class="text-sm font-medium"></p>
              <div class="price-input price">
                <div class="select-wrapper">
                  <div>
                    <p class="text-xs text-slate-600">Share this ad with others:</p>
                    <input placeholder="Share Url" readonly=""
                      class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
                      value="https://app.winninghunter.com/ad/1725833298222585" onclick="copyad('1725833298222585')">
                    <button type="button" class="dropdown-item save-ad-lid off" data-platform="facebook"
                      data-id="1725833298222585"><img width="15px" src="/images/heart-outline.svg"> Save this
                      ad</button>
                    <hr>
                    <button type="button" class="dropdown-item hide-advertiser-lid off" data-platform="facebook"
                      data-id="225549267299391"><img loading="lazy" width="17px" src="/images/eye-closed.svg"> Hide this
                      advertiser</button>
                    <hr>

                    <a target="__BLANK" href="https://oliviablaire.com/collections/all?sort_by=best-selling"
                      class="dropdownnode action-button dropdown-item"><img width="20px" src="/images/SH.svg"> Best
                      Selling</a>
                    <hr>
                    <button type="button" class="dropdown-item"
                      onclick="openPiModal('https://oliviablaire.com', 'ironwandmascara')"><img width="15px"
                        src="/images/link-black-mini.svg"> Import Product</button>
                    <a tabindex="0" class="dropdownnode action-button dropdown-item block"
                      href="/sales-tracker?store=https://oliviablaire.com/products/ironwandmascara"
                      target="__BLANK"><img width="20px" src="/images/track.png"> Track Store</a>
                    <a tabindex="0" class="dropdownnode action-button dropdown-item block"
                      href="/magic-ai?imgurl=https://adslibrary.eu-central-1.linodeobjects.com/12b7957127591607eec7610ef6d250765370381b500d5b094e01feec8db8e71c.jpg"
                      target="__BLANK"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" loading="lazy" class="w-4 h-4 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z">
                        </path>
                      </svg> Find Competitors with Magic Ai</a>
                    <a target="__BLANK" href="https://www.similarweb.com/website/oliviablaire.com"
                      class="dropdownnode action-button dropdown-item block"><img width="20px"
                        src="/images/similiarweb.png"> Website Traffic</a>
                  </div>
                </div>
              </div>
              <div class="select-wrapper">
                <div class="div-block-71">
                </div>
              </div>
            </div>
          </div>
          <div class="threedot-more-info action-button">
            <img src="/images/three-dots-vertical.svg"
              style="top:0;cursor:pointer;line-height: 26px;width: 20px;height: 18px;display:block;margin: 0 auto;"
              aria-describedby="tooltip172583329822258580532" data-dropdown-toggle="tooltip172583329822258580532"
              class="dropdowninit">
          </div>
        </div>
      </div>
      <div
        style="padding-left:1rem;font-size:13px;font-weight:600;color: #999;display: grid; grid-template-columns: auto minmax(0, 1fr);column-gap: 20px;">

      </div>

    </div>
    <div class="primary-copy-cutoff primary-copy">
      <p>Step up your lash game! 💃 Our one-of-a-kind mascara brings next-level curl and definition that lasts all day –
        seriously, even through your favorite tearjerkers. 😭✨ Ready for a clump-free, smudge-proof life?<br> <br> 😌
        Smudge-Free Confidence<br> 💖 Clumpless, Flawless Lashes<br> 🕒 All-Day Lift and Curl<br> <br> Buy 1 Get 1 Free,
        today only! 🛍️</p>
    </div>
    <hr style="width: 92%;margin: 0 auto;">
    <div style="position: absolute;z-index: 1;display: flex;gap: 10px;justify-content: end;" class="w-full text-sm p-1">
      <div class="has-popup relative">
        <div class="custom-popup left-[-50px] hidden" style="display: none; transform: scale(1);">Product Creation Date
        </div><span class="p-1 font-bold bg-white rounded pointer-events-none" style="opacity: 0.79;"> <img
            src="/images/box.svg" class="h-4 v-4"> 2024-01-08</span>
      </div>
    </div>
    <div class="video-2 w-video w-embed"><img
        src="https://adslibrary.eu-central-1.linodeobjects.com/12b7957127591607eec7610ef6d250765370381b500d5b094e01feec8db8e71c.jpg"
        style="display: block;margin:0 auto;filter: blur(5px);min-height: 319px;">
      <video
        poster="https://adslibrary.eu-central-1.linodeobjects.com/12b7957127591607eec7610ef6d250765370381b500d5b094e01feec8db8e71c.jpg"
        controls="" style="flex: 1 1 0;max-width: 100%;object-fit: cover;margin: 0 auto;display: block;" preload="none">
        <source
          src="https://adslibrary.eu-central-1.linodeobjects.com/11c9c645bf9c3c7dd0023f7dc6eb54265b493c7b6e8cb232aef92c4bbebd3f7e.mp4"
          type="video/mp4">
      </video>
    </div>
    <div class="frameitem-title-box" style="background-color:white;">
      <div class="frameitem-button-group gap-0">

        <div class="linkclicks has-popup relative">
          <div class="custom-popup hidden" style="left: -100px; display: none;">Page Information
            <hr> <span class="text-[14px]">Advertiser runs in <img src="/images/country-globe.svg"> 4 countries with
              <img height="14px" width="14px" src="/images/page-ads-slate.svg" style="pointer-events:none;"> 89 ads <div
                class="p-[2px] border rounded"><img src="/images/GB.png" loading="lazy" alt="" height="10px"
                  width="10px" class="GB" style="border:none;border-radius: 50%;"><img src="/images/AU.png"
                  loading="lazy" alt="" height="10px" width="10px" class="AU"
                  style="border:none;border-radius: 50%;"><img src="/images/CA.png" loading="lazy" alt="" height="10px"
                  width="10px" class="CA" style="border:none;border-radius: 50%;"><img src="/images/US.png"
                  loading="lazy" alt="" height="10px" width="10px" class="US" style="border:none;border-radius: 50%;">
              </div></span>
            <hr class="mt-[10px]">
            <div class="flex mt-2 flex-col">
              <span style="font-size:13px;"><img
                  style="border-radius: 50%;flex-shrink: 0;margin-right: 4px;border: 1px solid #e9eaeb;height: 15px;width: 15px;"
                  src="https://adslibrary.eu-central-1.linodeobjects.com/d56ca82b6524bb3fd1ae3c402688df1096e20d65a6993ff6745b249572ff78b4.jpg"
                  onerror="this.src='/images/facebook_no_profile_pic.png'"> Kristina's Fashion Essentials </span>
              <a class="text-muted p-1 mt-2 rounded border w-full shadow-sm hover:shadow-none mt-1"
                onclick="thisad = $(this).closest('.one_add_wrapper'); $(thisad).find('.pageadcount').click();">View
                Page Ads</a>
            </div>
          </div>
          <div class="flex pointer-events-none" style="color: rgba(0,0,0,.85);font-size: .875rem;line-height: 1.42858;">
            <img style="border-radius: 50%;flex-shrink: 0;
          margin-right: 4px;    border: 1px solid #e9eaeb;height: 30px;
          width: 30px;"
              src="https://adslibrary.eu-central-1.linodeobjects.com/d56ca82b6524bb3fd1ae3c402688df1096e20d65a6993ff6745b249572ff78b4.jpg"
              onerror="this.src='/images/facebook_no_profile_pic.png'">
            <div class="pointer-events-none min-w-100">
              <div class="text-xs font-medium text-gray-800 cursor-pointer pointer-events-none">Kristina's ...</div>
              <p class="text-slate-500 text-xs flex gap-1 pointer-events-none"><span
                  class="flex pointer-events-none"><img src="/images/country-globe.svg"> 4</span> <span
                  class="pointer-events-none"> <img height="14px" width="14px" src="/images/page-ads-slate.svg"
                    style="pointer-events:none;"> 89</span></p>
            </div>
          </div>
        </div>

        <div class="searchadchild">
          <div class="add-popup" style="overflow-y: scroll;flex-direction: column;">
            <input type="hidden" id="adhistory"
              adsets="{&quot;2024-07-18 07:00:00&quot;:&quot;37&quot;,&quot;2024-07-22 00:15:22&quot;:&quot;37&quot;,&quot;2024-07-23 01:32:20&quot;:&quot;37&quot;,&quot;2024-07-24 03:07:39&quot;:&quot;37&quot;,&quot;2024-07-25 10:00:56&quot;:&quot;35&quot;,&quot;2024-07-26 00:40:04&quot;:&quot;37&quot;}"
              adspend="[]" views="null" likes="null" comments="null" shares="null">
            <input type="hidden" id="randomToken" value="80532">
            <input type="hidden" id="productidstar" value="1725833298222585">
            <div class="info_body" style="margin: 0 auto;">
              <div id="w-node-_3eb5300b-0206-f91c-5505-e52b666a5390-de161bc0" class="frameitem-video-wrapper">
                <div class="html-embed-5 w-embed">
                  <video
                    poster="https://adslibrary.eu-central-1.linodeobjects.com/12b7957127591607eec7610ef6d250765370381b500d5b094e01feec8db8e71c.jpg"
                    controls="" style="width:350px;object-fit:contain;display:block;" preload="none">
                    <source
                      src="https://adslibrary.eu-central-1.linodeobjects.com/11c9c645bf9c3c7dd0023f7dc6eb54265b493c7b6e8cb232aef92c4bbebd3f7e.mp4"
                      type="video/mp4">
                  </video>
                </div>
                <br> Ads History <canvas id="chart172583329822258580532"></canvas>
              </div>
              <div id="w-node-b50b7bcc-f095-371f-c679-5cab2590eb82-de161bc0" class="div-block-64">
                <div class="frameitem-details">
                  <div class="frameitem_component">
                    <div class="frameitem_accordion collapse-frame">
                      <div class="frameitem-dropdown-title-wrapper">
                        <div class="text-size-medium text-weight-bold">Primary Text</div>
                        <img src="/images/63affef89a16ae864c5b2660_icon_chevron.svg" loading="lazy" alt=""
                          class="frameitem-arrow">
                      </div>
                      <div class="frameitem-description">
                        <div class="margin-bottom margin-small">
                          <p>Step up your lash game! 💃 Our one-of-a-kind mascara brings next-level curl and definition
                            that lasts all day – seriously, even through your favorite tearjerkers. 😭✨ Ready for a
                            clump-free, smudge-proof life?<br> <br> 😌 Smudge-Free Confidence<br> 💖 Clumpless, Flawless
                            Lashes<br> 🕒 All-Day Lift and Curl<br> <br> Buy 1 Get 1 Free, today only! 🛍️</p>
                        </div>
                      </div>
                    </div>
                    <div class="frameitem_accordion collapse-frame">
                      <div class="frameitem-dropdown-title-wrapper">
                        <div class="text-size-medium text-weight-bold">Description</div>
                        <img src="/images/63affef89a16ae864c5b2660_icon_chevron.svg" loading="lazy" alt=""
                          class="frameitem-arrow">
                      </div>
                      <div class="frameitem-description">
                        <div class="margin-bottom margin-small">
                          <p>none</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="button w-button action-button"
                  onclick="getAdCopy('none', '1725833298222585', this)">Generate Ad Copy <svg width="24px"
                    viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(45)"
                    class="d-inline" style="margin-left:.5rem;">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier" style="width:20px;">
                      <path
                        d="M15.2073 4.50372C18.5358 2.97323 20.2 2.20799 20.996 3.00399C21.792 3.79998 21.0268 5.46421 19.4963 8.79267L18.6427 10.649C18.3371 11.3137 18.1843 11.646 18.1843 11.9999C18.1843 12.3539 18.3371 12.6862 18.6427 13.3509L19.4963 15.2072C21.0268 18.5357 21.792 20.1999 20.996 20.9959C20.2 21.7919 18.5358 21.0266 15.2073 19.4962L13.351 18.6426C12.6863 18.337 12.354 18.1841 12.0001 18.1841C11.6461 18.1841 11.3138 18.337 10.6491 18.6426L8.7928 19.4962C5.46434 21.0266 3.80011 21.7919 3.00411 20.9959C2.20811 20.1999 2.97335 18.5357 4.50384 15.2072L5.35741 13.3509C5.66304 12.6862 5.81586 12.3539 5.81586 11.9999C5.81586 11.646 5.66304 11.3137 5.35741 10.649L4.50384 8.79267C2.97335 5.46421 2.20811 3.79998 3.00411 3.00399C3.80011 2.20799 5.46434 2.97323 8.7928 4.50372L10.6491 5.35729C11.3138 5.66292 11.6461 5.81574 12.0001 5.81574C12.354 5.81574 12.6863 5.66292 13.351 5.35729L15.2073 4.50372Z"
                        fill="#fff"></path>
                    </g>
                  </svg></button>
                <div class="adcopygeneratorbox" id="adcopy1725833298222585"></div>
                <div class="frameitem-country">
                  Share:
                  <img src="/images/share-ios-export.svg" style="cursor:pointer;height:30px;display:inline-block;"
                    class="share-ios action-button" onclick="copyad('1725833298222585')">
                  <!-- <div class="frameitem-country-wrapper">
                  <img src="/images/US.png" loading="lazy" alt="" class="frameitem-countr-flag">
                  <div>
                    <div class="frameitem-small-text">Ad Country</div>
                    <div class="frameitem-country-name">United States</div>
                  </div>
                </div>  
                <div>
                  <a href="#" onclick="" class="button w-button">Share ad</a>
                </div> -->

                </div>
                <div class="frameitem-links-grid">
                  <div id="w-node-c767e22e-faf5-a876-818f-2bd868c356f9-de161bc0" class="frameitem-link-item">
                    <img src="/images/store-svgrepo-com.svg" loading="lazy" alt="" class="frameitem-icon">
                    <div>
                      <div class="frameitem-small-text">Store</div>
                      <a href="https://oliviablaire.com/products/ironwandmascara" target="__BLANK"
                        class="frameitem-link">Product Page</a>
                    </div>
                  </div>
                  <div id="w-node-_1ebb295b-90a9-56aa-efb5-ed9f7c9c979b-de161bc0" class="frameitem-link-item">
                    <img src="/images/magiccard-expense-svgrepo-com.svg" loading="lazy" alt="" class="frameitem-icon">
                    <div>
                      <div class="frameitem-small-text">Ad Library;</div>
                      <a href="https://www.facebook.com/ads/library/?id=1725833298222585" target="__BLANK"
                        class="frameitem-link">Ad link</a>
                    </div>
                  </div>
                  <div id="w-node-bfa31db7-cfe0-3720-565c-00b513e721c8-de161bc0" class="frameitem-link-item">
                    <img src="/images/link-svgrepo-com.svg" loading="lazy" alt="" class="frameitem-icon">
                    <div>
                      <div class="frameitem-small-text">Page Ad Library</div>
                      <a href="https://www.facebook.com/ads/library/?active_status=active&amp;ad_type=all&amp;country=ALL&amp;view_all_page_id=225549267299391&amp;search_type=page&amp;media_type=all"
                        target="__BLANK" class="frameitem-link">Page Ad Library</a>
                    </div>
                  </div>
                  <div id="w-node-_0b943d44-7c96-4a99-eb12-328b90a563b7-de161bc0" class="frameitem-link-item">
                    <img src="/images/download-svgrepo-com.svg" loading="lazy" alt="" class="frameitem-icon">
                    <div>
                      <div class="frameitem-small-text">Photo</div>
                      <a href="https://adslibrary.eu-central-1.linodeobjects.com/12b7957127591607eec7610ef6d250765370381b500d5b094e01feec8db8e71c.jpg"
                        class="frameitem-link" target="__BLANK" download="">Download <br>thumbnail </a>
                    </div>
                  </div>
                  <div class="frameitem-link-item">
                    <img src="/images/track.png" loading="lazy" alt="" class="frameitem-icon">
                    <div>
                      <a tabindex="0" class="frameitem-link"
                        href="/sales-tracker?store=https://oliviablaire.com/products/ironwandmascara"
                        target="__BLANK">Track Store</a>
                    </div>
                  </div>
                  <div class="frameitem-link-item">
                    <img src="/images/link-black-mini.svg" loading="lazy" alt="" class="frameitem-icon">
                    <div>
                      <a type="button" class="frameitem-link"
                        onclick="openPiModal('https://oliviablaire.com', 'ironwandmascara')"> Import Product</a>
                    </div>
                  </div>

                  <div class="frameitem-link-item">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" loading="lazy" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z">
                      </path>
                    </svg>
                    <div>
                      <a tabindex="0" class="frameitem-link"
                        href="/magic-ai?imgurl=https://adslibrary.eu-central-1.linodeobjects.com/12b7957127591607eec7610ef6d250765370381b500d5b094e01feec8db8e71c.jpg"
                        target="__BLANK">Find Competitors with Magic AI</a>
                    </div>
                  </div>
                </div>
                <div class="frameitem-video-download">
                  <div class="frameitem-link-item">
                    <img src="/images/download-svgrepo-com.svg" alt="" class="frameitem-icon">
                    <div>
                      <a href="https://adslibrary.eu-central-1.linodeobjects.com/11c9c645bf9c3c7dd0023f7dc6eb54265b493c7b6e8cb232aef92c4bbebd3f7e.mp4"
                        class="frameitem-link" tabindex="0" download="">Download Video</a>
                    </div>
                  </div>
                </div>
                <div class="frameitem-video-download">
                </div>

              </div>
            </div>
            <!--<div class="info_body" style="background: transparent;min-width: 140%;display:block;">
              <div>
                <h4 style="color: white;">Competitor Search</h4>
                <div id="competitor-adds-list172583329822258580532" class="compadslist"></div>
              </div>
          </div> -->
            <img src="/images/close-svgrepo-com.svg" loading="lazy" data-w-id="23888445-fbd2-6de8-2cf2-fe405a990048"
              alt="" class="close-ad">
          </div>
        </div>
      </div>
    </div>
    <hr style="width: 92%; margin: 0 auto;">

    <div class="add_info">
      <div class="add-meta-wrapper">
        <div class="add-sub-info">
          <div>Scaling: <span
              style="width:1.5em;border:none;border-radius:0.5em;background-color:#EFEFF7;padding:3px;color:#5E6068;">0%</span>
          </div>
          <div>Platforms: <img src="/images/facebook-48.svg" height="20px" width="20px"><img src="/images/instagram.svg"
              height="20px" width="20px"><img src="/images/audience_network.png" height="20px" width="20px"><img
              src="/images/messenger.svg" height="20px" width="20px"></div>
          <div class="has-popup relative">
            <div class="custom-popup hidden" style="left: 0px; display: none;">Countries
              <hr>
              <div class="text-sm p-1">
                <p class="flex w-full gap-1 mt-1"><img src="/images/US.png" loading="lazy" alt="" height="20px"
                    width="20px" class="US w-5 h-5" style="border:none;border-radius: 50%;">United States</p>
                <p class="flex w-full gap-1 mt-1"><img src="/images/GB.png" loading="lazy" alt="" height="20px"
                    width="20px" class="GB w-5 h-5" style="border:none;border-radius: 50%;">United Kingdom</p>
                <p class="flex w-full gap-1 mt-1"><img src="/images/AU.png" loading="lazy" alt="" height="20px"
                    width="20px" class="AU w-5 h-5" style="border:none;border-radius: 50%;">Australia</p>
                <p class="flex w-full gap-1 mt-1"><img src="/images/CA.png" loading="lazy" alt="" height="20px"
                    width="20px" class="CA w-5 h-5" style="border:none;border-radius: 50%;">Canada</p>
              </div>
            </div>Countries: <img src="/images/US.png" loading="lazy" alt="" height="20px" width="20px" class="US"
              style="border:none;border-radius: 50%;height:20px;"><img src="/images/GB.png" loading="lazy" alt=""
              height="20px" width="20px" class="GB" style="border:none;border-radius: 50%;height:20px;"><img
              src="/images/AU.png" loading="lazy" alt="" height="20px" width="20px" class="AU"
              style="border:none;border-radius: 50%;height:20px;"><img src="/images/CA.png" loading="lazy" alt=""
              height="20px" width="20px" class="CA" style="border:none;border-radius: 50%;height:20px;">
          </div>
          <div>Website: <img src="/images/SH.svg" height="20px" width="20px" class="techicon SHtip" title="Shopify"><img
              src="/images/PP.svg" height="20px" width="20px" class="techicon PPtip" title="PayPal"><img
              src="/images/KV.svg" height="20px" width="20px" class="techicon KVtip" title="Klaviyo"><img
              src="/images/CO.svg" height="20px" width="20px" class="techicon COtip" title="Checkout"></div>


          <div>Started: Jul 18 2024 <span
              style="width:1.5em;border:none;border-radius:0.5em;background-color:#EFEFF7;padding:3px;color:#5E6068;">1
              week ago</span></div>
          <div class="text-dark"><b>Adsets: 37</b></div>
          <div class="add-sub-info">
            <div>Last seen: Jul 26 2024 <span
                style="width:1.5em;border:none;border-radius:0.5em;background-color:#EFEFF7;padding:3px;color:#5E6068;">2
                hrs ago</span></div>
            <div class="text-dark"><b>Adsets: 37</b></div>
          </div>

        </div>
        <button type="button" class="dots see-details action-button"
          comptarget="#competitor-adds-list172583329822258580532"
          imageurl="https://adslibrary.eu-central-1.linodeobjects.com/12b7957127591607eec7610ef6d250765370381b500d5b094e01feec8db8e71c.jpg">
          View Details
        </button>
      </div>
    </div>
    <div class="frameitem-title-box">
      <div class="frameitem-button-group" style="justify-content: space-between;">
        <a href="https://oliviablaire.com/products/ironwandmascara" target="__BLANK" class="linkclicks">
          <div class="frameitem-titles">
            <div
              style="line-height: 12px; max-height: 24px; -webkit-line-clamp: 2;font-size: 8px;color: #606770;-webkit-box-orient: vertical;display: -webkit-box;float: none;">
              oliviablaire.com</div>
            <div
              style="display: -webkit-box;overflow: hidden;white-space: normal;display: -webkit-box;-webkit-box-orient: vertical;color: #1c1e21;font-size: 10px;line-height: 14px; max-height: 28px; -webkit-line-clamp: 2;">
              Lashes That Last 💫</div>
            <div style="line-height: 14px; max-height: 28px; -webkit-line-clamp: 2;-webkit-box-orient: vertical;
                display: -webkit-box;
                float: none;overflow: hidden;
                white-space: normal;    font-size: 9px;    color: #606770;"></div>
          </div>
        </a>
        <div>
          <a href="https://oliviablaire.com/products/ironwandmascara" target="__BLANK"
            class="frameitem-info w-button action-button">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>