<div copiwin-id="${this.id}">
  <h5>
    <a href="/sales-tracker"><img src="https://app.winninghunter.com/assets/images/icon/arrow-left.svg" alt="avatar" class="img-fluid"></a>
    <span class="store_image_canon" height="30px"><img
        src="https://app.winninghunter.com//jeffreestarcosmetics.com/cdn/shop/t/242/assets/safari-pinned-tab.svg?v=46483616013751105681698318736"
        height="32px" width="32px" class="storeicon" onerror="this.src='/images/no_photo.png'"></span>
    <span id="store-name" class="text-block-11" style="">Jeffree Star Cosmetics (en)</span>
    <div class="skeleton paragraph" id="w-node-_544716c1-6c9e-21c4-9979-c7b13acda4f0-d24c9106" style="display: none;">
    </div>
  </h5>
  <hr>
  <div id="w-node-bfb992b0-7585-0a33-9da3-1a9994bc6259-d24c9106" class="div-block-37 table-responsive">
    <div class="div-block-35 shadow-backdrop mt-4">
      <div id="w-node-_1bcc1799-8c26-b3e1-7091-deaa51207f61-d24c9106" class="div-block-36">
        <div>
          <a href="https://jeffreestarcosmetics.com" target="__BLANK" class="link-block w-inline-block">
            <div id="store-url" style="">jeffreestarcosmetics.com</div>
            <div class="new-tab w-embed" style="">
              <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h48v48H0z" fill="none"></path>
                <g id="Shopicon">
                  <polygon points="44,30 40,30 40,38 8,38 8,10 20,10 20,6 4,6 4,42 44,42  " fill="currentColor">
                  </polygon>
                  <polygon points="26,26.828 40,12.828 40,24 44,24 44,6 26,6 26,10 37.172,10 23.172,24  "
                    fill="currentColor"></polygon>
                </g>
              </svg>
            </div>
          </a>
          <div class="skeleton paragraph" style="display: none;"></div>
        </div>
      </div>
      <div id="w-node-_544716c1-6c9e-21c4-9979-c7b13acda4f0-d24c9106" class="div-block-42">
        <div class="download-btn w-node-_8fe5c732-6070-c33a-9351-58b0188fd30e-d24c9106" style="border: medium;"></div>
        <div class="skeleton download_btn" style="display: none;"></div>
        <div class="w-embed changedate">
          <input type="text" id="datepicker" class="form-input ad" style="" readonly="">
          <div class="skeleton datepicker-skeleton" style="display: none;"></div>
          <button type="button" class="applly-filter w-button" id="applybutton" style="">Apply</button>
          <div class="skeleton apply-skeleton" style="display: none;"></div>
        </div>
      </div>
    </div>
    <div class="div-block-35 shadow-backdrop">
      <div id="w-node-_1bcc1799-8c26-b3e1-7091-deaa51207f61-d24c9106" class="div-block-36">
        <div class="div-block-440">
          <div>
            <p class="text-block-4" style="">Tracked by</p>
            <p class="text-block-9 revenue-title trackedby">0 Others</p>
          </div>
          <div>
            <p class="text-block-4" style="">Based In</p>
            <p class="text-block-9 revenue-title country">US</p>
          </div>
          <div>
            <p class="text-block-4" style="">Product Amount</p>
            <p class="text-block-9 revenue-title product_amount">260</p>
          </div>
          <div>
            <p class="text-block-4" style="">Collection Amount</p>
            <p class="text-block-9 revenue-title collection_amount">77</p>
          </div>
          <!--                         <div>
            <p class="text-block-4" style="">Store Creation</p>
            <p class="text-block-9 revenue-title storecreation">-</p>
          </div> -->
          <div>
            <p class="text-block-4" style="">Average Order Value</p>
            <p class="text-block-9 revenue-title averageordervalue">$29.00</p>
          </div>
        </div>
        <div id="tiktokads">
          <div class="add-popup mainpopup" style="display: none;">
            <div class="addmodal">
              <div class="items-wrapper">
                <div class="margin-bottom margin-xlarge">
                  <h4>Facebook Ads</h4>
                  <div class="add_list" data-wg-notranslate="">
                    <div id="w-node-cc50fc7e-477f-686e-dc07-6b48083f7366-de161bc0" class="skeletonadd">
                      <div class="frameitem-promo">
                        <div class="skeleton paragraph" style="display: none;"></div>
                        <div class="skeleton paragraph" style="display: none;"></div>
                        <div class="skeleton paragraph" style="display: none;"></div>
                      </div>
                      <div class="skeleton frameitem_video" style="display: none;"></div>
                      <div class="frameitem-title-box">
                        <div class="frameitem-button-group">
                          <div class="skeleton paragraph" style="display: none;"></div>
                          <div class="skeleton frameitem_button" style="display: none;"></div>
                        </div>
                      </div>
                      <div class="add_info">
                        <div class="add-sub-info">
                          <div class="skeleton paragraph" style="display: none;"></div>
                          <div class="skeleton paragraph" style="display: none;"></div>
                        </div>
                        <div class="add-sub-info">
                          <div class="skeleton info_button" style="display: none;"></div>
                          <div class="skeleton info_button" style="display: none;"></div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-cc50fc7e-477f-686e-dc07-6b48083f7366-de161bc0" class="skeletonadd">
                      <div class="frameitem-promo">
                        <div class="skeleton paragraph" style="display: none;"></div>
                        <div class="skeleton paragraph" style="display: none;"></div>
                        <div class="skeleton paragraph" style="display: none;"></div>
                      </div>
                      <div class="skeleton frameitem_video" style="display: none;"></div>
                      <div class="frameitem-title-box">
                        <div class="frameitem-button-group">
                          <div class="skeleton paragraph" style="display: none;"></div>
                          <div class="skeleton frameitem_button" style="display: none;"></div>
                        </div>
                      </div>
                      <div class="add_info">
                        <div class="add-sub-info">
                          <div class="skeleton paragraph" style="display: none;"></div>
                          <div class="skeleton paragraph" style="display: none;"></div>
                        </div>
                        <div class="add-sub-info">
                          <div class="skeleton info_button" style="display: none;"></div>
                          <div class="skeleton info_button" style="display: none;"></div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-cc50fc7e-477f-686e-dc07-6b48083f7366-de161bc0" class="skeletonadd">
                      <div class="frameitem-promo">
                        <div class="skeleton paragraph" style="display: none;"></div>
                        <div class="skeleton paragraph" style="display: none;"></div>
                        <div class="skeleton paragraph" style="display: none;"></div>
                      </div>
                      <div class="skeleton frameitem_video" style="display: none;"></div>
                      <div class="frameitem-title-box">
                        <div class="frameitem-button-group">
                          <div class="skeleton paragraph" style="display: none;"></div>
                          <div class="skeleton frameitem_button" style="display: none;"></div>
                        </div>
                      </div>
                      <div class="add_info">
                        <div class="add-sub-info">
                          <div class="skeleton paragraph" style="display: none;"></div>
                          <div class="skeleton paragraph" style="display: none;"></div>
                        </div>
                        <div class="add-sub-info">
                          <div class="skeleton info_button" style="display: none;"></div>
                          <div class="skeleton info_button" style="display: none;"></div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-cc50fc7e-477f-686e-dc07-6b48083f7366-de161bc0" class="skeletonadd">
                      <div class="frameitem-promo">
                        <div class="skeleton paragraph" style="display: none;"></div>
                        <div class="skeleton paragraph" style="display: none;"></div>
                        <div class="skeleton paragraph" style="display: none;"></div>
                      </div>
                      <div class="skeleton frameitem_video" style="display: none;"></div>
                      <div class="frameitem-title-box">
                        <div class="frameitem-button-group">
                          <div class="skeleton paragraph" style="display: none;"></div>
                          <div class="skeleton frameitem_button" style="display: none;"></div>
                        </div>
                      </div>
                      <div class="add_info">
                        <div class="add-sub-info">
                          <div class="skeleton paragraph" style="display: none;"></div>
                          <div class="skeleton paragraph" style="display: none;"></div>
                        </div>
                        <div class="add-sub-info">
                          <div class="skeleton info_button" style="display: none;"></div>
                          <div class="skeleton info_button" style="display: none;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="margin-bottom margin-xlarge" id="loader">
                  <div>
                    <center><img src="https://app.winninghunter.com/images/Pulse-1.1s-207px.gif" height="100px;"
                        style="display:block;margin: 0 auto; "></center>
                  </div>
                </div>
              </div>
            </div>
            <img src="https://app.winninghunter.com/images/close-svgrepo-com.svg" loading="lazy" data-w-id="23888445-fbd2-6de8-2cf2-fe405a990048"
              alt="" class="close-ad">
          </div>
          <a class="showtiktokads">
            <div style="display: inline-block;width:33px;margin-bottom: -10px;">
              <img src="https://app.winninghunter.com/images/facebook.svg">
            </div>
            <span>Facebook Ads</span>
          </a>
        </div>
        <div>
          <div>
            <img src="https://app.winninghunter.com/images/meta-logo-facebook-svgrepo-com.svg" height="30px" width="30px">
            <span><a class="adlibrary" target="__BLANK"
                href="https://www.facebook.com/ads/library/?active_status=all&amp;ad_type=all&amp;country=ALL&amp;q=jeffreestarcosmetics.com">Facebook</a></span>
          </div>
        </div>
      </div>
      <div id="w-node-_544716c1-6c9e-21c4-9979-c7b13acda4f0-d24c9106" class="div-block-42">

        <div class="skeleton download_btn" style="display: none;"></div>
      </div>
    </div>
    <div class="div-block-4123">
      <div class="details-wrapper flex-wrapper-left-big shadow-backdrop">
        <div class="div-block-38">
          <div class="div-block-43">
            <div class="revenue-title">Total Revenue </div>
            <div class="text-block-12 tracking-timeframe" style="">Jun 26, 2024 - Jul 26, 2024</div><span
              class="text-block-12 store-timezone text-slate-500" style="">(GMT -07:00)</span>
            <div class="skeleton product-revenue" style="display: none;"></div>

          </div>
          <div>
            <span class="isolation-auto inline-flex rounded-md">
              <button type="button" period="1"
                class="relative inline-flex items-center rounded-tl-md rounded-bl-md bg-white pl-3 pr-3 pt-2 pb-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10 date-button">Today</button>
              <button type="button" period="7"
                class="relative -ml-px inline-flex items-center bg-white pl-3 pr-3 pt-2 pb-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10 date-button">Week</button>
              <button type="button" period="30"
                class="relative -ml-px inline-flex items-center rounded-tr-md rounded-br-md bg-white pl-3 pr-3 pt-2 pb-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10 date-button bg-gray-100">Month</button>
            </span>
            <a href="#" class="button-ternary w-inline-block"></a>
          </div>
        </div>
        <div class="div-block-39">
          <div id="revenue" class="text-block-13" style="">$127,397.00</div>
          <div class="skeleton product-revenue" style="display: none;"></div>
        </div>
        <canvas id="revenue-chart" width="1278" height="383" role="img"
          style="box-sizing: border-box; height: 306px; width: 1022px;"></canvas>
        <div class="ali-table-placeholder" style="display: none;">
          <div class="ali-empty ali-empty-normal">
            <div class="ali-empty-image"><svg width="64" height="41" viewBox="0 0 64 41"
                xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(0 1)" fill="none" fill-rule="evenodd">
                  <ellipse fill="#F5F5F5" cx="32" cy="33" rx="32" ry="7"></ellipse>
                  <g fill-rule="nonzero" stroke="#D9D9D9">
                    <path
                      d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z">
                    </path>
                    <path
                      d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z"
                      fill="#FAFAFA"></path>
                  </g>
                </g>
              </svg></div>
            <p class="ali-empty-description">No Data</p>
          </div>
        </div>
        <div class="skeleton graph-container" style="display: none;"></div>
      </div>
      <div class="details-wrapper flex-wrapper-right-small shadow-backdrop">
        <div class="description-title">Description </div>
        <p id="description">Created by Jeffree Star. Highly Pigmented Makeup and High-Performance Skincare with Powerful
          Ingredients. Shop Bestsellers, Limited Edition Products and Viral Beauty Favorites. </p>
        <div class="skeleton graph-container" style="display: none;"></div>
        <p></p>
        <div class="stacked-divs show-after-skeleton-flex" style="display: flex;">
          <p>Theme</p>
          <p id="theme" class="has-popup">
          <div style="margin-right:6px;" class="relative">
            <div class="custom-popup left-0 hidden" style="display: none; transform: scale(1);">Jeffree - max product on
              PDP</div><span class="underline decoration-dotted cursor-pointer">Jeffree - max product on ...</span>
          </div>
          </p>
        </div>
        <div class="stacked-divs show-after-skeleton-flex" style="display: flex;">
          <p>Pixels</p>
          <p id="pixels"><img src="https://app.winninghunter.com/images/GM.svg" height="20px" width="20px"></p>
        </div>
        <div class="stacked-divs show-after-skeleton-flex" style="display: flex;">
          <p>Socials</p>
          <p id="socials"><a target="__BLANK" href="https://www.facebook.com/jeffreeStar"><img
                style="padding-left:10px;" src="https://app.winninghunter.com/images/fb-black.png" class="h-[20px]"></a><a target="__BLANK"
              href="https://www.tiktok.com/@jeffreestarcosmetics"><img style="padding-left:10px;"
                src="https://app.winninghunter.com/images/tt-black.png" class="h-[20px]"></a><a target="__BLANK"
              href="https://www.instagram.com/jeffreestarcosmetics/"><img style="padding-left:10px;"
                src="https://app.winninghunter.com/images/ig-black.png" class="h-[20px]"></a><a target="__BLANK"
              href="https://www.youtube.com/user/jeffreestar"><img style="padding-left:10px;" src="https://app.winninghunter.com/images/yt-black.png"
                class="h-[20px]"></a></p>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <div id="sales-table_wrapper" class="dataTables_wrapper no-footer">
        <div class="dataTables_length" id="sales-table_length"><label>Show <select name="sales-table_length"
              aria-controls="sales-table" class="">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select> products</label></div>
        <div id="sales-table_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-input"
              placeholder="" aria-controls="sales-table"></label></div>
        <table id="sales-table" class="table-responsive shadow-backdrop dataTable no-footer dtr-inline" cellspacing="0"
          width="100%" aria-describedby="sales-table_info" style="width: 100%;">
          <thead>
            <tr>
              <th class="dt-center sorting" tabindex="0" aria-controls="sales-table" rowspan="1" colspan="1"
                style="width: 316px;" aria-label="Product: activate to sort column descending">Product</th>
              <th class="dt-center sorting" tabindex="0" aria-controls="sales-table" rowspan="1" colspan="1"
                style="width: 101px;" aria-label="Bestseller: activate to sort column descending">Bestseller</th>
              <th class="dt-center sorting sorting_desc" tabindex="0" aria-controls="sales-table" rowspan="1"
                colspan="1" style="width: 97px;" aria-sort="descending"
                aria-label="Total Ads: activate to sort column ascending">Total Ads</th>
              <th class="dt-center sorting" tabindex="0" aria-controls="sales-table" rowspan="1" colspan="1"
                style="width: 127px;" aria-label=" Adspend: activate to sort column descending"><img
                  src="https://app.winninghunter.com/images/facebook-48.svg" height="20px" width="20px"> Adspend</th>
              <th class="dt-center sorting" tabindex="0" aria-controls="sales-table" rowspan="1" colspan="1"
                style="width: 126px;" aria-label="Ad Channels: activate to sort column descending">Ad Channels</th>
              <th class="dt-center sorting" tabindex="0" aria-controls="sales-table" rowspan="1" colspan="1"
                style="width: 65px;" aria-label="Trend: activate to sort column descending">Trend</th>
              <th class="dt-center sorting" tabindex="0" aria-controls="sales-table" rowspan="1" colspan="1"
                style="width: 153px;" aria-label="Last Advertised: activate to sort column descending">Last Advertised
              </th>
              <th class="dt-center sorting" tabindex="0" aria-controls="sales-table" rowspan="1" colspan="1"
                style="width: 138px;" aria-label="Creation Date: activate to sort column descending">Creation Date</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd">
              <td class="dt-center dtr-control" tabindex="0"><a
                  href="https://jeffreestarcosmetics.com/products/watermelon-wealth-ultimate-bundle"
                  class="blank_78294253" target="__BLANK">
                  <div class="div-block-48"><img
                      src="https://cdn.shopify.com/s/files/1/0673/2291/files/wwultimatecopy.png?v=1720570259"
                      loading="lazy" sizes="48px"
                      srcset="https://cdn.shopify.com/s/files/1/0673/2291/files/wwultimatecopy.png?v=1720570259 500w, https://cdn.shopify.com/s/files/1/0673/2291/files/wwultimatecopy.png?v=1720570259 800w, https://cdn.shopify.com/s/files/1/0673/2291/files/wwultimatecopy.png?v=1720570259 800w"
                      alt="" class="product_thumbnail">
                    <div class="div-block-34" style="width: 100%;text-align: left;">
                      <div id="w-node-_9e78d43a-e09f-d831-a91f-e21058ef7dfb-d24c9106" class="product_title">Watermelon
                        Wealth Ultimate Bundle <div style="width: 20px;display:inline-block;margin-left:4px;">
                          <div
                            class="rounded-full flex items-center justify-center mr-1 cursor-pointer bg-opacity-80 bg-green-100">
                            <div class="h-2 w-2 rounded-full bg-green-400" style="margin: 3px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-47">
                        <div class="price-text">$93.00</div>
                        <div>1 variant</div>
                      </div>
                    </div>
                  </div>
                </a></td>
              <td class="dt-center">
                <div class="sales-count-wrapper">
                  <div class="div-block-50"><a target="__BLANK"
                      href="https://www.amazon.com/search/s?k=Watermelon%20Wealth%20Ultimate%20Bundle"><img
                        src="https://app.winninghunter.com/images/amazon-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a><a
                      target="__BLANK"
                      href="https://aliexpress.com/w/wholesale-Watermelon-Wealth-Ultimate-Bundle.html?catId=0&amp;SearchText=Watermelon%20Wealth%20Ultimate%20Bundle"><img
                        src="https://app.winninghunter.com/images/alibaba-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a></div>
                  <div>1</div>
                </div>
              </td>
              <td class="dt-center sorting_1">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">307</td>
              <td class="dt-center">-</td>
              <td class="dt-center">
                <div class="text-dark">Jul 09, 2024</div>
              </td>
            </tr>
            <tr class="even">
              <td class="dt-center dtr-control" tabindex="0"><a
                  href="https://jeffreestarcosmetics.com/products/watermelon-wealth-hydrating-moisturizer"
                  class="blank_78294253" target="__BLANK">
                  <div class="div-block-48"><img
                      src="https://cdn.shopify.com/s/files/1/0673/2291/files/01MoisturizerWatermelon-Closed_Swatch-Web.jpg?v=1720464007"
                      loading="lazy" sizes="48px"
                      srcset="https://cdn.shopify.com/s/files/1/0673/2291/files/01MoisturizerWatermelon-Closed_Swatch-Web.jpg?v=1720464007 500w, https://cdn.shopify.com/s/files/1/0673/2291/files/01MoisturizerWatermelon-Closed_Swatch-Web.jpg?v=1720464007 800w, https://cdn.shopify.com/s/files/1/0673/2291/files/01MoisturizerWatermelon-Closed_Swatch-Web.jpg?v=1720464007 800w"
                      alt="" class="product_thumbnail">
                    <div class="div-block-34" style="width: 100%;text-align: left;">
                      <div id="w-node-_9e78d43a-e09f-d831-a91f-e21058ef7dfb-d24c9106" class="product_title">Watermelon
                        Wealth Hydrating Moisturizer <div style="width: 20px;display:inline-block;margin-left:4px;">
                          <div
                            class="rounded-full flex items-center justify-center mr-1 cursor-pointer bg-opacity-80 bg-green-100">
                            <div class="h-2 w-2 rounded-full bg-green-400" style="margin: 3px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-47">
                        <div class="price-text">$32.00</div>
                        <div>1 variant</div>
                      </div>
                    </div>
                  </div>
                </a></td>
              <td class="dt-center">
                <div class="sales-count-wrapper">
                  <div class="div-block-50"><a target="__BLANK"
                      href="https://www.amazon.com/search/s?k=Watermelon%20Wealth%20Hydrating%20Moisturizer"><img
                        src="https://app.winninghunter.com/images/amazon-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a><a
                      target="__BLANK"
                      href="https://aliexpress.com/w/wholesale-Watermelon-Wealth-Hydrating-Moisturizer.html?catId=0&amp;SearchText=Watermelon%20Wealth%20Hydrating%20Moisturizer"><img
                        src="https://app.winninghunter.com/images/alibaba-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a></div>
                  <div>2</div>
                </div>
              </td>
              <td class="dt-center sorting_1">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">15</td>
              <td class="dt-center">-</td>
              <td class="dt-center">
                <div class="text-dark">May 06, 2024</div>
              </td>
            </tr>
            <tr class="odd">
              <td class="dt-center dtr-control" tabindex="0"><a
                  href="https://jeffreestarcosmetics.com/products/make-me-melt-watermelon-removing-balm"
                  class="blank_78294253" target="__BLANK">
                  <div class="div-block-48"><img
                      src="https://cdn.shopify.com/s/files/1/0673/2291/files/01MakeMeMeltWatermelon-Closed_Swatch-Web.jpg?v=1720463348"
                      loading="lazy" sizes="48px"
                      srcset="https://cdn.shopify.com/s/files/1/0673/2291/files/01MakeMeMeltWatermelon-Closed_Swatch-Web.jpg?v=1720463348 500w, https://cdn.shopify.com/s/files/1/0673/2291/files/01MakeMeMeltWatermelon-Closed_Swatch-Web.jpg?v=1720463348 800w, https://cdn.shopify.com/s/files/1/0673/2291/files/01MakeMeMeltWatermelon-Closed_Swatch-Web.jpg?v=1720463348 800w"
                      alt="" class="product_thumbnail">
                    <div class="div-block-34" style="width: 100%;text-align: left;">
                      <div id="w-node-_9e78d43a-e09f-d831-a91f-e21058ef7dfb-d24c9106" class="product_title">'Make Me
                        Melt' Watermelon Removing Balm <div style="width: 20px;display:inline-block;margin-left:4px;">
                          <div
                            class="rounded-full flex items-center justify-center mr-1 cursor-pointer bg-opacity-80 bg-green-100">
                            <div class="h-2 w-2 rounded-full bg-green-400" style="margin: 3px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-47">
                        <div class="price-text">$32.00</div>
                        <div>1 variant</div>
                      </div>
                    </div>
                  </div>
                </a></td>
              <td class="dt-center">
                <div class="sales-count-wrapper">
                  <div class="div-block-50"><a target="__BLANK"
                      href="https://www.amazon.com/search/s?k='Make%20Me%20Melt'%20Watermelon%20Removing%20Balm"><img
                        src="https://app.winninghunter.com/images/amazon-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a><a
                      target="__BLANK"
                      href="https://aliexpress.com/w/wholesale-'Make-Me-Melt'-Watermelon-Removing-Balm.html?catId=0&amp;SearchText='Make%20Me%20Melt'%20Watermelon%20Removing%20Balm"><img
                        src="https://app.winninghunter.com/images/alibaba-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a></div>
                  <div>3</div>
                </div>
              </td>
              <td class="dt-center sorting_1">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">14</td>
              <td class="dt-center">-</td>
              <td class="dt-center">
                <div class="text-dark">May 06, 2024</div>
              </td>
            </tr>
            <tr class="even">
              <td class="dt-center dtr-control" tabindex="0"><a
                  href="https://jeffreestarcosmetics.com/products/watermelon-wealth-lip-oil" class="blank_78294253"
                  target="__BLANK">
                  <div class="div-block-48"><img
                      src="https://cdn.shopify.com/s/files/1/0673/2291/files/01_Lip_Oil_Watermelon_-_Closed_Wand_-_Web.jpg?v=1720463210"
                      loading="lazy" sizes="48px"
                      srcset="https://cdn.shopify.com/s/files/1/0673/2291/files/01_Lip_Oil_Watermelon_-_Closed_Wand_-_Web.jpg?v=1720463210 500w, https://cdn.shopify.com/s/files/1/0673/2291/files/01_Lip_Oil_Watermelon_-_Closed_Wand_-_Web.jpg?v=1720463210 800w, https://cdn.shopify.com/s/files/1/0673/2291/files/01_Lip_Oil_Watermelon_-_Closed_Wand_-_Web.jpg?v=1720463210 800w"
                      alt="" class="product_thumbnail">
                    <div class="div-block-34" style="width: 100%;text-align: left;">
                      <div id="w-node-_9e78d43a-e09f-d831-a91f-e21058ef7dfb-d24c9106" class="product_title">Watermelon
                        Wealth Lip Oil <div style="width: 20px;display:inline-block;margin-left:4px;">
                          <div
                            class="rounded-full flex items-center justify-center mr-1 cursor-pointer bg-opacity-80 bg-green-100">
                            <div class="h-2 w-2 rounded-full bg-green-400" style="margin: 3px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-47">
                        <div class="price-text">$20.00</div>
                        <div>1 variant</div>
                      </div>
                    </div>
                  </div>
                </a></td>
              <td class="dt-center">
                <div class="sales-count-wrapper">
                  <div class="div-block-50"><a target="__BLANK"
                      href="https://www.amazon.com/search/s?k=Watermelon%20Wealth%20Lip%20Oil"><img
                        src="https://app.winninghunter.com/images/amazon-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a><a
                      target="__BLANK"
                      href="https://aliexpress.com/w/wholesale-Watermelon-Wealth-Lip-Oil.html?catId=0&amp;SearchText=Watermelon%20Wealth%20Lip%20Oil"><img
                        src="https://app.winninghunter.com/images/alibaba-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a></div>
                  <div>4</div>
                </div>
              </td>
              <td class="dt-center sorting_1">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">13</td>
              <td class="dt-center">-</td>
              <td class="dt-center">
                <div class="text-dark">May 06, 2024</div>
              </td>
            </tr>
            <tr class="odd">
              <td class="dt-center dtr-control" tabindex="0"><a
                  href="https://jeffreestarcosmetics.com/products/watermelon-wealth-candle" class="blank_78294253"
                  target="__BLANK">
                  <div class="div-block-48"><img
                      src="https://cdn.shopify.com/s/files/1/0673/2291/files/01WatermelonCandle-Closed-Web.jpg?v=1720464162"
                      loading="lazy" sizes="48px"
                      srcset="https://cdn.shopify.com/s/files/1/0673/2291/files/01WatermelonCandle-Closed-Web.jpg?v=1720464162 500w, https://cdn.shopify.com/s/files/1/0673/2291/files/01WatermelonCandle-Closed-Web.jpg?v=1720464162 800w, https://cdn.shopify.com/s/files/1/0673/2291/files/01WatermelonCandle-Closed-Web.jpg?v=1720464162 800w"
                      alt="" class="product_thumbnail">
                    <div class="div-block-34" style="width: 100%;text-align: left;">
                      <div id="w-node-_9e78d43a-e09f-d831-a91f-e21058ef7dfb-d24c9106" class="product_title">Watermelon
                        Wealth Candle <div style="width: 20px;display:inline-block;margin-left:4px;">
                          <div
                            class="rounded-full flex items-center justify-center mr-1 cursor-pointer bg-opacity-80 bg-green-100">
                            <div class="h-2 w-2 rounded-full bg-green-400" style="margin: 3px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-47">
                        <div class="price-text">$25.00</div>
                        <div>1 variant</div>
                      </div>
                    </div>
                  </div>
                </a></td>
              <td class="dt-center">
                <div class="sales-count-wrapper">
                  <div class="div-block-50"><a target="__BLANK"
                      href="https://www.amazon.com/search/s?k=Watermelon%20Wealth%20Candle"><img
                        src="https://app.winninghunter.com/images/amazon-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a><a
                      target="__BLANK"
                      href="https://aliexpress.com/w/wholesale-Watermelon-Wealth-Candle.html?catId=0&amp;SearchText=Watermelon%20Wealth%20Candle"><img
                        src="https://app.winninghunter.com/images/alibaba-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a></div>
                  <div>5</div>
                </div>
              </td>
              <td class="dt-center sorting_1">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">12</td>
              <td class="dt-center">-</td>
              <td class="dt-center">
                <div class="text-dark">May 06, 2024</div>
              </td>
            </tr>
            <tr class="even">
              <td class="dt-center dtr-control" tabindex="0"><a
                  href="https://jeffreestarcosmetics.com/products/watermelon-wealth-glass-tumbler"
                  class="blank_78294253" target="__BLANK">
                  <div class="div-block-48"><img
                      src="https://cdn.shopify.com/s/files/1/0673/2291/files/zoomcup.png?v=1720464358" loading="lazy"
                      sizes="48px"
                      srcset="https://cdn.shopify.com/s/files/1/0673/2291/files/zoomcup.png?v=1720464358 500w, https://cdn.shopify.com/s/files/1/0673/2291/files/zoomcup.png?v=1720464358 800w, https://cdn.shopify.com/s/files/1/0673/2291/files/zoomcup.png?v=1720464358 800w"
                      alt="" class="product_thumbnail">
                    <div class="div-block-34" style="width: 100%;text-align: left;">
                      <div id="w-node-_9e78d43a-e09f-d831-a91f-e21058ef7dfb-d24c9106" class="product_title">Watermelon
                        Wealth Glass Tumbler <div style="width: 20px;display:inline-block;margin-left:4px;">
                          <div
                            class="rounded-full flex items-center justify-center mr-1 cursor-pointer bg-opacity-80 bg-green-100">
                            <div class="h-2 w-2 rounded-full bg-green-400" style="margin: 3px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-47">
                        <div class="price-text">$28.00</div>
                        <div>1 variant</div>
                      </div>
                    </div>
                  </div>
                </a></td>
              <td class="dt-center">
                <div class="sales-count-wrapper">
                  <div class="div-block-50"><a target="__BLANK"
                      href="https://www.amazon.com/search/s?k=Watermelon%20Wealth%20Glass%20Tumbler"><img
                        src="https://app.winninghunter.com/images/amazon-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a><a
                      target="__BLANK"
                      href="https://aliexpress.com/w/wholesale-Watermelon-Wealth-Glass-Tumbler.html?catId=0&amp;SearchText=Watermelon%20Wealth%20Glass%20Tumbler"><img
                        src="https://app.winninghunter.com/images/alibaba-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a></div>
                  <div>6</div>
                </div>
              </td>
              <td class="dt-center sorting_1">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">11</td>
              <td class="dt-center">-</td>
              <td class="dt-center">
                <div class="text-dark">May 06, 2024</div>
              </td>
            </tr>
            <tr class="odd">
              <td class="dt-center dtr-control" tabindex="0"><a
                  href="https://jeffreestarcosmetics.com/products/watermelon-umbrella" class="blank_78294253"
                  target="__BLANK">
                  <div class="div-block-48"><img
                      src="https://cdn.shopify.com/s/files/1/0673/2291/files/umbrellaww.png?v=1720466259" loading="lazy"
                      sizes="48px"
                      srcset="https://cdn.shopify.com/s/files/1/0673/2291/files/umbrellaww.png?v=1720466259 500w, https://cdn.shopify.com/s/files/1/0673/2291/files/umbrellaww.png?v=1720466259 800w, https://cdn.shopify.com/s/files/1/0673/2291/files/umbrellaww.png?v=1720466259 800w"
                      alt="" class="product_thumbnail">
                    <div class="div-block-34" style="width: 100%;text-align: left;">
                      <div id="w-node-_9e78d43a-e09f-d831-a91f-e21058ef7dfb-d24c9106" class="product_title">Watermelon
                        Umbrella <div style="width: 20px;display:inline-block;margin-left:4px;">
                          <div
                            class="rounded-full flex items-center justify-center mr-1 cursor-pointer bg-opacity-80 bg-green-100">
                            <div class="h-2 w-2 rounded-full bg-green-400" style="margin: 3px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-47">
                        <div class="price-text">$35.00</div>
                        <div>1 variant</div>
                      </div>
                    </div>
                  </div>
                </a></td>
              <td class="dt-center">
                <div class="sales-count-wrapper">
                  <div class="div-block-50"><a target="__BLANK"
                      href="https://www.amazon.com/search/s?k=Watermelon%20Umbrella"><img
                        src="https://app.winninghunter.com/images/amazon-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a><a
                      target="__BLANK"
                      href="https://aliexpress.com/w/wholesale-Watermelon-Umbrella.html?catId=0&amp;SearchText=Watermelon%20Umbrella"><img
                        src="https://app.winninghunter.com/images/alibaba-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a></div>
                  <div>7</div>
                </div>
              </td>
              <td class="dt-center sorting_1">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">10</td>
              <td class="dt-center">-</td>
              <td class="dt-center">
                <div class="text-dark">May 06, 2024</div>
              </td>
            </tr>
            <tr class="even">
              <td class="dt-center dtr-control" tabindex="0"><a
                  href="https://jeffreestarcosmetics.com/products/mainstage-limited-edition-faux-fur-coat"
                  class="blank_78294253" target="__BLANK">
                  <div class="div-block-48"><img
                      src="https://cdn.shopify.com/s/files/1/0673/2291/files/Jacket1.png?v=1711588656" loading="lazy"
                      sizes="48px"
                      srcset="https://cdn.shopify.com/s/files/1/0673/2291/files/Jacket1.png?v=1711588656 500w, https://cdn.shopify.com/s/files/1/0673/2291/files/Jacket1.png?v=1711588656 800w, https://cdn.shopify.com/s/files/1/0673/2291/files/Jacket1.png?v=1711588656 800w"
                      alt="" class="product_thumbnail">
                    <div class="div-block-34" style="width: 100%;text-align: left;">
                      <div id="w-node-_9e78d43a-e09f-d831-a91f-e21058ef7dfb-d24c9106" class="product_title">Mainstage
                        Limited Edition Faux Fur Coat <div style="width: 20px;display:inline-block;margin-left:4px;">
                          <div
                            class="rounded-full flex items-center justify-center mr-1 cursor-pointer bg-opacity-80 bg-green-100">
                            <div class="h-2 w-2 rounded-full bg-green-400" style="margin: 3px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-47">
                        <div class="price-text">$180.00</div>
                        <div>7 variants</div>
                      </div>
                    </div>
                  </div>
                </a></td>
              <td class="dt-center">
                <div class="sales-count-wrapper">
                  <div class="div-block-50"><a target="__BLANK"
                      href="https://www.amazon.com/search/s?k=Mainstage%20Limited%20Edition%20Faux%20Fur%20Coat"><img
                        src="https://app.winninghunter.com/images/amazon-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a><a
                      target="__BLANK"
                      href="https://aliexpress.com/w/wholesale-Mainstage-Limited-Edition-Faux-Fur-Coat.html?catId=0&amp;SearchText=Mainstage%20Limited%20Edition%20Faux%20Fur%20Coat"><img
                        src="https://app.winninghunter.com/images/alibaba-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a></div>
                  <div>8</div>
                </div>
              </td>
              <td class="dt-center sorting_1">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">10</td>
              <td class="dt-center">-</td>
              <td class="dt-center">
                <div class="text-dark">Mar 26, 2024</div>
              </td>
            </tr>
            <tr class="odd">
              <td class="dt-center dtr-control" tabindex="0"><a
                  href="https://jeffreestarcosmetics.com/products/backstage-pink-dye-wash-hoodie" class="blank_78294253"
                  target="__BLANK">
                  <div class="div-block-48"><img
                      src="https://cdn.shopify.com/s/files/1/0673/2291/files/Hoodie4_d2eab9d2-3463-4cbc-ada6-82c5d7784c69.png?v=1711592676"
                      loading="lazy" sizes="48px"
                      srcset="https://cdn.shopify.com/s/files/1/0673/2291/files/Hoodie4_d2eab9d2-3463-4cbc-ada6-82c5d7784c69.png?v=1711592676 500w, https://cdn.shopify.com/s/files/1/0673/2291/files/Hoodie4_d2eab9d2-3463-4cbc-ada6-82c5d7784c69.png?v=1711592676 800w, https://cdn.shopify.com/s/files/1/0673/2291/files/Hoodie4_d2eab9d2-3463-4cbc-ada6-82c5d7784c69.png?v=1711592676 800w"
                      alt="" class="product_thumbnail">
                    <div class="div-block-34" style="width: 100%;text-align: left;">
                      <div id="w-node-_9e78d43a-e09f-d831-a91f-e21058ef7dfb-d24c9106" class="product_title">Backstage
                        Pink Dye Wash Hoodie <div style="width: 20px;display:inline-block;margin-left:4px;">
                          <div
                            class="rounded-full flex items-center justify-center mr-1 cursor-pointer bg-opacity-80 bg-green-100">
                            <div class="h-2 w-2 rounded-full bg-green-400" style="margin: 3px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-47">
                        <div class="price-text">$65.00</div>
                        <div>7 variants</div>
                      </div>
                    </div>
                  </div>
                </a></td>
              <td class="dt-center">
                <div class="sales-count-wrapper">
                  <div class="div-block-50"><a target="__BLANK"
                      href="https://www.amazon.com/search/s?k=Backstage%20Pink%20Dye%20Wash%20Hoodie"><img
                        src="https://app.winninghunter.com/images/amazon-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a><a
                      target="__BLANK"
                      href="https://aliexpress.com/w/wholesale-Backstage-Pink-Dye-Wash-Hoodie.html?catId=0&amp;SearchText=Backstage%20Pink%20Dye%20Wash%20Hoodie"><img
                        src="https://app.winninghunter.com/images/alibaba-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a></div>
                  <div>9</div>
                </div>
              </td>
              <td class="dt-center sorting_1">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">9</td>
              <td class="dt-center">-</td>
              <td class="dt-center">
                <div class="text-dark">Mar 26, 2024</div>
              </td>
            </tr>
            <tr class="even">
              <td class="dt-center dtr-control" tabindex="0"><a
                  href="https://jeffreestarcosmetics.com/products/headliner-tie-dye-hoodie" class="blank_78294253"
                  target="__BLANK">
                  <div class="div-block-48"><img
                      src="https://cdn.shopify.com/s/files/1/0673/2291/files/IMG_8967.jpg?v=1711592120" loading="lazy"
                      sizes="48px"
                      srcset="https://cdn.shopify.com/s/files/1/0673/2291/files/IMG_8967.jpg?v=1711592120 500w, https://cdn.shopify.com/s/files/1/0673/2291/files/IMG_8967.jpg?v=1711592120 800w, https://cdn.shopify.com/s/files/1/0673/2291/files/IMG_8967.jpg?v=1711592120 800w"
                      alt="" class="product_thumbnail">
                    <div class="div-block-34" style="width: 100%;text-align: left;">
                      <div id="w-node-_9e78d43a-e09f-d831-a91f-e21058ef7dfb-d24c9106" class="product_title">Headliner
                        Tie Dye Hoodie <div style="width: 20px;display:inline-block;margin-left:4px;">
                          <div
                            class="rounded-full flex items-center justify-center mr-1 cursor-pointer bg-opacity-80 bg-green-100">
                            <div class="h-2 w-2 rounded-full bg-green-400" style="margin: 3px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-47">
                        <div class="price-text">$65.00</div>
                        <div>7 variants</div>
                      </div>
                    </div>
                  </div>
                </a></td>
              <td class="dt-center">
                <div class="sales-count-wrapper">
                  <div class="div-block-50"><a target="__BLANK"
                      href="https://www.amazon.com/search/s?k=Headliner%20Tie%20Dye%20Hoodie"><img
                        src="https://app.winninghunter.com/images/amazon-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a><a
                      target="__BLANK"
                      href="https://aliexpress.com/w/wholesale-Headliner-Tie-Dye-Hoodie.html?catId=0&amp;SearchText=Headliner%20Tie%20Dye%20Hoodie"><img
                        src="https://app.winninghunter.com/images/alibaba-svgrepo-com.svg" loading="lazy" alt="" class="sales-icon"></a></div>
                  <div>10</div>
                </div>
              </td>
              <td class="dt-center sorting_1">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">-</td>
              <td class="dt-center">8</td>
              <td class="dt-center">-</td>
              <td class="dt-center">
                <div class="text-dark">Mar 26, 2024</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="dataTables_info" id="sales-table_info" role="status" aria-live="polite">Showing 1 to 10 of 23
          products</div>
        <div class="dataTables_paginate paging_simple_numbers" id="sales-table_paginate"><a
            class="paginate_button previous disabled" aria-controls="sales-table" aria-disabled="true" aria-role="link"
            data-dt-idx="previous" tabindex="-1" id="sales-table_previous">Previous</a><span><a
              class="paginate_button current" aria-controls="sales-table" aria-role="link" aria-current="page"
              data-dt-idx="0" tabindex="0">1</a><a class="paginate_button " aria-controls="sales-table" aria-role="link"
              data-dt-idx="1" tabindex="0">2</a><a class="paginate_button " aria-controls="sales-table" aria-role="link"
              data-dt-idx="2" tabindex="0">3</a></span><a class="paginate_button next" aria-controls="sales-table"
            aria-role="link" data-dt-idx="next" tabindex="0" id="sales-table_next">Next</a></div>
      </div>


      <div class="product_item skeleton-item">
        <div class="div-block-48">
          <div class="skeleton product_thumbnail product-table-skeleton" style="display: none;"></div>
          <div class="div-block-34">
            <div class="skeleton product-title product-table-skeleton" style="display: none;"></div>
            <div class="div-block-47">
              <div class="skeleton product_price product-table-skeleton" style="display: none;"></div>
              <div class="skeleton product_variation product-table-skeleton" style="display: none;"></div>
            </div>
          </div>
        </div>
        <div class="sales-count-wrapper">
          <div class="div-block-50">
            <div class="skeleton icon product-table-skeleton" style="display: none;"></div>
            <div class="skeleton icon product-table-skeleton" style="display: none;"></div>
          </div>
          <div class="skeleton icon product-table-skeleton" style="display: none;"></div>
        </div>
        <div class="skeleton product-revenue product-table-skeleton" style="display: none;"></div>
        <div class="skeleton product-revenue product-table-skeleton" style="display: none;"></div>
      </div>


    </div>
  </div>
</div>